.container {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  margin-bottom: 1rem;
}

.input {
  font-family: "Marauder";
  width: 50px !important;

  font-size: 48px;

  border: none;
  outline: none;

  color: #e0cca1;
  background-color: #581111dd;
  padding: 0.5rem 6.5px 0;
  line-height: 0;

  border-radius: 1rem;
}
